---
import MainLayout from "@/layouts/mainLayout.astro";
import Header from "@/components/header.astro";
---

<MainLayout>
    <Header />

    <h2 class="w-full text-center mt-23 mb-20 text-5xl">
        Athletics
    </h2>

</MainLayout>