---
import Cursor from "../3d/cursor.tsx";
import {Card,CardHeader,CardTitle,CardContent,CardAction,CardDescription,CardFooter} from "@/components/ui/card.tsx";
import MainLayout from "@/layouts/mainLayout.astro";
import {CodeXmlIcon, MusicIcon, SportShoeIcon, PlusIcon} from "@lucide/astro";
---


<script>
    import {gsap} from "gsap";
    import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

    gsap.registerPlugin(ScrambleTextPlugin);

    gsap.from("#title", {
        scrambleText: "yesac kenosam",
        duration: 1,
    }).then(() => {
        gsap.to("#header", {
            height: "9vh",
            overflowY: "auto",
            delay: 1
        });
    })
</script>

<MainLayout>
    <div class="overflow-y-hidden">
        <div class="p-3 h-[101vh] flex items-center border-b-1 justify-center" id="header">
            <h1 class="text-5xl" id="title">Casey Masonek</h1> <h1 class="text-5xl" id="header"></h1>

        </div>
        <div class="flex flex-row w-full h-[91vh] relative">
            <div class="absolute top-0 w-1/2 overflow-clip">
                <div class="flex w-[140%] rotate-0 left-[-3px] flex-wrap items-center">
                    {Array.from({length: 1000}).map((item) => {
                        return ["Programmer", "Musician", "Athlete", "Learner", "Friend"].map(item => (
                                <span class="abw-fit text-xl text-neutral-200 dark:text-accent">{item}&nbsp;·&nbsp;</span>
                        ))
                    })}
                </div>
            </div>
            <div class="w-1/2 flex justify-center items-center">
                <Cursor client:only={"react"} />
            </div>
            <div class="border-l-1 p-3 w-1/2">
                <div class="max-h-1/2 overflow-y-scroll">
                    <h2 class="text-3xl mb-3">Hi, I'm Casey!</h2>

                    <p class="text-muted-foreground">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                        <br />
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                        <br />
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                    </p>
                </div>
                <hr class="my-3" />

                <div class="w-full grow grid flex-row grid-cols-2 gap-5">
                    <div class="h-fit p-[2px] rounded-xl hover:bg-gradient-to-r from-red-500 via-purple-500 to-blue-500">
                        <a href="/programming">
                            <Card className="grow">
                                <CardHeader>
                                    <CardTitle>
                                        Programmer
                                    </CardTitle>
                                    <CardAction>
                                        <CodeXmlIcon />
                                    </CardAction>
                                </CardHeader>
                                <CardContent>
                                    <CardDescription>
                                        While only really beginning 4 years ago, I've really been coding my whole life.
                                    </CardDescription>
                                </CardContent>
                            </Card>
                        </a>
                    </div>

                    <div class="h-fit p-[2px] rounded-xl hover:bg-gradient-to-r from-red-500 via-purple-500 to-blue-500">
                        <a href="/music">
                            <Card className="grow">
                                <CardHeader>
                                    <CardTitle>
                                        Musician
                                    </CardTitle>
                                    <CardAction>
                                        <MusicIcon />
                                    </CardAction>
                                </CardHeader>
                                <CardContent>
                                    <CardDescription>
                                        I've been making music my whole life, both in music production software
                                        and with actual instruments.
                                    </CardDescription>
                                </CardContent>
                            </Card>
                        </a>
                    </div>

                    <div class="h-fit p-[2px] rounded-xl hover:bg-gradient-to-r from-red-500 via-purple-500 to-blue-500">
                        <a href="/athletics">
                            <Card className="grow">
                                <CardHeader>
                                    <CardTitle>
                                        Athlete
                                    </CardTitle>
                                    <CardAction>
                                        <SportShoeIcon />
                                    </CardAction>
                                </CardHeader>
                                <CardContent>
                                    <CardDescription>
                                        I've been competing in track and field for 4 years, as a high jumper and
                                        pole vaulter.
                                    </CardDescription>
                                </CardContent>
                            </Card>
                        </a>
                    </div>

                    <div class="h-fit p-[2px] rounded-xl hover:bg-gradient-to-r from-red-500 via-purple-500 to-blue-500">
                        <a href="/misc">
                            <Card className="grow">
                                <CardHeader>
                                    <CardTitle>
                                        And more!
                                    </CardTitle>
                                    <CardAction>
                                        <PlusIcon />
                                    </CardAction>
                                </CardHeader>
                                <CardContent>
                                    <CardDescription>
                                        Of course, I can't fit all of my hobbies into three buckets.
                                        Here are some misc. projects.
                                    </CardDescription>
                                </CardContent>
                            </Card>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</MainLayout>

