---

---

<div class="h-[15vh] border-t-2 border-accent w-full p-5 relative bg-gradient-to-r from-black to-[rgba(0,0,0,0.8)]">
    <h1 class="mb-4">Casey Masonek</h1>

    <p class="monospace text-muted-foreground text-left">503-432-7884</p>
    <p class="monospace text-muted-foreground text-left">cmmasonek@gmail.com</p>

    <div class="absolute w-full bottom-0 right-0 h-[15vh] hexagons z-[-1]">
        &nbsp.
    </div>
</div>