---
import {Button} from "@/components/ui/button.tsx";
---

<div class="w-full flex h-[7vh] justify-between items-center">
    <h1 class="text-3xl m-3">
        <a href="/">Casey Masonek</a>
    </h1>
    <div class="float-right flex">
        <a href="/programming">
            <Button className={"h-[7vh] rounded-[0px] border-b-0 w-[120px]"} variant={"ghost"}>
                Programming
            </Button>
        </a>

        <a href="/music">
            <Button className={"h-[7vh] rounded-[0px] border-b-0 w-[120px]"} variant={"ghost"}>
                Music
            </Button>
        </a>

        <a href="/athletics">
            <Button className={"h-[7vh] rounded-[0px] border-b-0 w-[120px]"} variant={"ghost"}>
                Athletics
            </Button>
        </a>

        <a href="/misc">
            <Button className={"h-[7vh] rounded-[0px] border-b-0 w-[120px]"} variant={"ghost"}>
                Miscellaneous
            </Button>
        </a>
    </div>
</div>
<hr class="" />